node_modules
.env
.DS_STORE
yarn.lock

#Hardhat files
cache
artifacts

frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
