node_modules
.env
.DS_STORE

#Hardhat files
cache
artifacts

# Backend
backend/node_modules
backend/yarn.lock
backend/.env
backend/.DS_STORE

#frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env


frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
